.vs/
powerdude/.vs/
powerdude/Win32/
powerdude/Debug/
powerdude/Release/
powerdude/powerdude/Debug/
powerdude/powerdude/Release/
powerdude/powerdude/GeneratedFiles/
powerdude/powerdude/powerdude.vcxproj.user
powerdude/powerdude/debug.txt
powerdude/qrencode/Debug/
powerdude/qrencode/Release/
powerdude/QSimpleUpdater/debug/
powerdude/QSimpleUpdater/release/
powerdude/QSimpleUpdater/Win32/
powerdude/QSimpleUpdater/Win32
powerdude/QSimpleUpdater/debug
powerdude/QSimpleUpdater/ui_Downloader.h
powerdude/quazip/quazip/quazip.vcxproj.user
powerdude/quazip/qztest/qztest.vcxproj.user
powerdude/quazip/quazip/Win32/
powerdude/quazip/quazip/release/
powerdude/quazip/quazip/debug/
powerdude/quazip/qztest/Win32/
powerdude/quazip/qztest/release/
powerdude/quazip/qztest/debug/
powerdude/quazip/qztest/.moc/
Win32
Debug
Release
.moc
*.suo
*.ncb
*.opensdf
Thumbs.db
ipch
Debug
RelWithDebInfo
*.lib
*.exp
*.pdb
*.dll
*.ilk
*.resource.txt
*.embed.manifest*
*.intermediate.manifest*
*.vcxproj.user
!powerdude/powerdude/thirdparty/usb-dongle/lib/x64/Dongle_s.lib
!powerdude/powerdude/thirdparty/usb-dongle/lib/x86/Dongle_s.lib